@import './cmp/header.cmp.css';
@import './cmp/footer.cmp.css';
@import './apps/email-app/email-app.css';
@import './apps/email-app/email-details.css';
@import './apps/note-app/note-app.css';
@import './cmp/home-page.css';

/* TYPOGRAPHY */
@font-face {
    font-family: Roboto-regular;
    src: url('./fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-bold;
    src: url('./fonts/roboto//Roboto-Medium.ttf');
}

/* BASIC */

*{box-sizing: border-box;}

body {
    margin: 0;
}

html * {
    font-family:  Roboto-regular;
    font-size: 14px;
    letter-spacing: 0.065em;
    /* line-height: 20px; */
}

/* LAYOUT */
.main-layout {
    margin: 0 20px;
}

/* USER MSG */
.success {
    background-color: green;
}

.nav-modal {
    background-color:white;
    box-shadow: 0 0 1px 1px rgb(165, 165, 165);
    position: absolute;
    right: 55px;
    top: 55px;
    padding: 30px;
    display: flex;
    gap: 30px;
}

.nav-modal > * { 
    text-align: center;
    color: rgb(112, 112, 112)
}

.nav-modal div > * {
    margin-bottom: 10px;
}


@media (min-width: 740px) {
   
}