@import './cmp/header.cmp.css';
@import './cmp/footer.cmp.css';
@import './apps/email-app/email-app.css';
@import './apps/email-app/email-details.css';
@import './apps/note-app/note-app.css';
@import './cmp/home-page.css';

*{box-sizing: border-box;}

body {
    margin: 0;
}

button {
    cursor: pointer;
}
/* LAYOUT */
.main-layout {
    margin: 0 20px;
}

/* USER MSG */
.success {
    background-color: green;
}