.home-page {
    margin: auto;
    height: 80vh;
    /* background-image: url('./../../img/main-img/bg-img.jpg'); */
    /* background-repeat: no-repeat;
    background-size: contain; */
    /* padding: 20px; */
}

.msg-container {
    text-align: center;
    /* color: white; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.msg-container h1 {
    letter-spacing: 0.2em;
    font-family: Roboto-bold;
    font-size: 2em;
}

.link-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.link-container > * {
    background-color: rgb(36, 55, 167);
    box-shadow: 0.5px 0.5px 1px 1px rgb(112, 112, 112);
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}

.link-container > *:hover {
    background-color: rgb(38, 52, 102);
}

.home-img {
    background-image: url('./../../img/main-img/bg-img.jpg');
    background-color: rgb(243, 243, 243);
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
}


