.email-preview {
    cursor: pointer;
    border-bottom: 2.5px solid rgb(221, 220, 220);
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    padding: 10px 15px;
}

.email-preview:hover {
    background-color: rgb(238, 238, 238);
    box-shadow:  1px 1px 1px 1px #bfbfbf;
}

.read-email {
    background-color: rgb(224, 222, 222);
    font-weight: 400;
}

.unread-email {
    background-color: rgb(255, 255, 255);
    font-weight: 600;
}

.preview-start {
    display: flex;
    gap: 15px;
    width: 25%;
}

.preview-subject {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.preview-actions {
    display: flex;
    gap: 10px;
}

.fa {
    size: 50px;
}

.starred {
    color: gold;
}

.unstarred {
    color:rgb(228, 227, 227);
}

@media (min-width: 740px) {
    .email-preview {
        flex-direction: row;
    }

}
