.email-search {
    padding: 20px 0 10px;
    grid-column: 2 span;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.email-search > * {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(207, 207, 207);
    background-color: rgb(248, 247, 247);
    /* width: 40%; */
}
.search-container{
    width: 50%;
}
.search-container > *{
    border: none;
    background-color: rgb(248, 247, 247);
}

.search-container :first-child {
    border-right: 1px solid gray;
    width: 70%;
}

/* mobile only */
@media (max-width: 750px) {
    .email-search {
        padding-top: 0;
        flex-direction: column;
        margin-left: 80px;
    }

    .search-container{
        width: 100%;
    }

    .search-container *  {
        padding: 10px 0;
    }

    .search-container :first-child {
        border-right: none;
        border-bottom: 1px solid gray;
        width: 70%;
    }
}