@import './cmps/email-preview.css';
@import './cmps/email-list.css';
@import './cmps/email-filter.css';
@import './cmps/email-search.css';
@import './email-details.css';
@import './cmps/email-new.css';

.email-app {
    padding: 20px; 
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    gap: 10px
    /* display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    gap: 30px; */
}

@media (min-width: 740px) {
    .email-app {
        padding: 20px; 
        /* background-color: green; */
    }

    .main-grid {
        /* display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto 1fr; */
        gap: 30px;
    }
}

