.email-datails {
    background-color: rgb(235, 235, 235);
    padding: 40px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email-datails :first-child {
    align-self: flex-start;
}
.top-details {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-details > * {
    margin: 0;
}

.details-body {
    background-color: #fff;
    border-radius: 5px;
    height: 60%;
    padding: 10px;
}

.details-body p {
    padding: 0;
}

.details-btn > * {
    color: black;
    border: 1px solid gray;
    text-decoration: none;
    background-color: #fff;
    padding: 5px 10px;
}