
.note-todos h3,
.note-todos h4 {
    margin: 0;
}

.note-todos h4:hover {
    cursor: pointer;
}

.note-todos ul {
    display: inline;
    margin-bottom: 10px;
}

.note-todos ul li {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.note-todos span {
    cursor: pointer;
}

.note-todos span:hover {
    opacity: 0.3;
}