
.note-filter {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.labels-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.labels-container h1 {
    display: block;
    margin: auto;
}

.label {
    display: flex;
    justify-content: center;
    width: 80px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color:lightgray;
    box-shadow: 2px 2px 0 0 gray;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s;
}

.label:hover {
    opacity: 0.8;
}

.selected {
    transform: scale(1.2);
}