
.pinned-container {
    margin: 50px auto;
    border: 1px solid black;
    padding: 10px;
}

.pinned-container h1 {
    text-align: center;
}

.pinned-container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.pinned-container li {
    list-style: none;
    margin: auto;
}

.pinned-container button {
    display: block;
    margin: auto;
    cursor: pointer;
}